body {
    font-size: 15px;
    background-color: black;
    color: #aaa;
}

input,textarea,select{
    background-color: #333;
    color: #999;
}

.futoji{
  font-weight: bold;
}

.shortInput{
  width:200px;
  margin-left: 20px;
}

.smallButton{
  width:70px;
  margin-left:20px;
  background-color: #153;
  color: #ccc;
}

.name{
  width:100px;
  margin: 10px;
}
